.people {
  background-color: lighten(rgba(#17171F, 1), 3%);
  @extend .where-to-watch;
}

@media (max-width: $screen-md-min) and (max-width: $screen-sm-min) {
  .people .cards {
    width: 100%;
  }

  .cards {
    position: relative;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;

    .card-overflow {width: 12*360px;}

    .col-xs-12 {
      width: 360px;
    }

    .row:after {clear: none;}
  }
}
