// bower:scss
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower
@import "mixins";
@import "reset";
@import "grid";
@import "fonts";
@import "header";
@import "nav";
@import "icons";
@import "dropdown";
@import "where-to-watch";
@import "card";
@import "people";
@import "awards";
@import "footer";
@import "story";
@import "made-by";

body {
  // font-size: modular-scale(1);
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(#17171F, 1);
  color: rgba(255, 255, 255, 1);
  @include transition(transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1));
  @include transform(translateX(0%));
}

* {box-sizing: border-box;}

@media (max-width: $screen-md-min) and (max-width: $screen-sm-min) {
  body.menu-open {
    @include transition(transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1));
    @include transform(translateX(80%));
    overflow: hidden;
  }
}
